ORCHA_NPM_REGISTRY_URL=https://pulp.example.com/pulp/content/default/orcha/npm/
ORCHA_NPM_AUTH_SCOPE=pulp.example.com/pulp/content/default/orcha/npm/
ORCHA_NPM_TOKEN=
ORCHA_PYPI_SIMPLE_INDEX_URL=https://pulp.example.com/pypi/orcha/pypi/simple/
ORCHA_INTERNAL_NPM_SMOKE_PACKAGE=
ORCHA_INTERNAL_NPM_NEGATIVE_PACKAGE=
ORCHA_INTERNAL_PYPI_SMOKE_PACKAGE=
ORCHA_INTERNAL_PYPI_NEGATIVE_PACKAGE=
